.alt-header__column i{
    margin: 0 10px; 
}

#chat-screen .alt-header {
    position:fixed;
    width: 100%;
    box-sizing: border-box;
    top:0;
}

#chat-screen{
    background-color: var(--babyblue);
    
}


.chat-screen {
    margin-top: 120px;
    padding:2px var(--horizontalspace);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.chat-timestamp {
    color:white;
    background-color: var(--lightblue);
    border-radius: 20px;
    padding: 6px 18px;
    opacity: 0.5;
    margin-bottom: 20px;
}



@keyframes textpopupAltAni {
    from{
        transform: translateX(-10px);
        opacity: 0;
       
    }
    to{
        transform: none;
        opacity: 1;
    }
}

@keyframes textpopupAni {
    from{
        transform: translateX(10px);
        opacity: 0;
       
    }
    to{
        transform: none;
        opacity: 1;
    }
}

.chat-screen .message-row:nth-child(2){
    animation: textpopupAltAni 0.4s ease-in-out 0.5s backwards;
}


.chat-screen .message-row__own{
    animation: textpopupAni 0.4s ease-in-out 0.5s backwards;

}
.chat-screen .own-time{
    animation-delay: 1s;
}

.chat-screen .message-row:nth-child(3){
    animation: textpopupAltAni 0.4s ease-in-out 1s backwards;
}


.chat-screen .message-row:nth-child(4){
    animation: textpopupAltAni 0.4s ease-in-out 1.5s backwards;
}

.chat-screen .message-row:nth-child(5){
    animation: textpopupAltAni 0.4s ease-in-out 2s backwards;
}
.chat-screen .message-row:nth-child(6){
    animation: textpopupAltAni 0.4s ease-in-out 2.5s backwards;
}
.chat-screen .message-row:nth-child(7){
    animation: textpopupAltAni 0.4s ease-in-out 3s backwards;
}

.chat-screen .message-row:nth-child(8){
    animation: textpopupAltAni 0.4s ease-in-out 3.5s backwards;
}
.chat-screen .message-row:nth-child(9){
    animation: textpopupAltAni 0.4s ease-in-out 4s backwards;
}

.message-row{
    width: 100%;
    display: flex;
    margin-bottom: 15px;  
}



.message-row img{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-right: 10px;
}

.message-author{
    font-size: 16px;
    font-weight: bold;
    opacity:0.8;
    display: block;
}

.message-bubble{
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
}


.message-text {
background-color: white;
padding: 10px 18px;
border-radius: 20px;
border-top-left-radius: 0;
font-size: 20px;

}

.message-time{
    opacity: 0.8;
    font-size: 14px;
    margin-left: 6px;
}

.message-row__own{
    justify-content:flex-end;
    width: 100%;
    display: flex;
    margin-bottom: 15px;  
}

.message-row__own .message-text{
    background-color: rgb(255, 242, 56);
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    margin-left: 8px;

}

.message-row__own .message-bubble{
    flex-direction: row-reverse;
}

.message-bubble__keep{
    margin-left: 70px;
    margin-top: -5px;
}
.message-text__keep{
    border-top-left-radius: 20px;
}


.message-bubble>img{
    width: 220px;
    height: 260px;
}

.message-bubble>img:hover{
    width: 360px;
    height: 400px;
}