.error__screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: var(--classicblue);
}

.error__screen>i {
    font-size: 120px;
    
}

.error__screen span{
    font-size:50px;
    font-weight: bold;

}

.error__screen a{
    margin-top:16px;
    font-weight: bold;
}

.error__screen a:hover{
    animation: blurcolorAni 0.5s forwards;
}


@keyframes blurcolorAni  {
    from{
        filter: none;
        color: var(--classicblue);
    }
    to{
        filter: drop-shadow( 0px 0px 5px var(--classicblue));
        color: white;
    }
}