
.recommended-friends{
    padding:20px 0px;
    margin-bottom: 12px;
    border-top:var(--frameline);
    border-bottom:var(--frameline);
  

    display:flex;
    flex-direction: column;
    
}

.recommended-friends__title{
    font-size: 20px;
    color: var(--greytrans);
    margin-bottom: 10px;
}


.open-chat__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    font-size: 20px;
    margin-bottom: 18px;
}

.open-chat__header span{
    color:var(--greytrans);
}


.open-post{
    display:flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3px 5px 3px;

}

.open-post__title{
    font-weight: 600;
    margin-bottom:5px;
    font-size:24px;
}

.open-post__hashtag{
    opacity: 0.6;
    
}

.open-post__members{
    display:flex;
    align-items: center;
    margin:8px 0px;
   
}

.open-post__members img{
    width: 30px;
    height: 30px;
    border-radius: 50%;   
    margin-right:5px;
}

.open-post__memvers-count{
    font-size: 20px;
    opacity: 0.5;
    
}

.open-post__members .diveder{
    width: 2px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    margin:0px 7px;
}

.open-post__members-status{
    color:turquoise;
}


.open-post__photo{
    display:flex;

    color:white;
    position:relative;
    
}

.open-post__haert{
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    padding:5px 10px;
    border-radius: 20px;
    display: flex;
    position:absolute;
    bottom:6px;
    left:50px;
}


.open-post_column:last-child img{
    width: 120px;
    height:120px;
    border-radius: 14px;
    opacity:0.9;
}

.open-post__photo:last-of-type span{
    margin-left: 7px;
}


@keyframes heartBeat {
    0% {
      color: white;
      transform: none;
    }
    50% {
      color: tomato;
      transform: scale(1.7);
    }
    100% {
      color: white;
      transform: none;
    }
  }
  
  .open-post__photo:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
  }

  .open-post:hover {
    background-color: rgba(0,0,0,0.1);
    border:3px dashed rgba(0,0,0,0.2);
    border-radius: 20px;
    
    cursor: pointer;

  }

