#friends-display__link{
    text-align: center;
    align-items: center;
    display: block;
    background-color: rgba(0,0,0,0.03);
    padding: 20px 0px;
    font-size: 20px;
    position:fixed;
    width: 100%;
    
}

#friends-display__link i{
    color:var(--babyblue);
    padding:0px 10px;
}


.friend-screen{
    padding: 0px var(--horizontalspace);

}

.friends-screen__channel{
    margin-top: 8px;
    border-top: var(--frameline);
    padding-top: 15px;
    
}

.friends-screen__channel-header{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color:rgba(0, 0, 0, 0.5);
}



@keyframes hideSplashscreen {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

.fav-component{
    width: 90vw;
    padding: 4px 0 0 4px;
}


.channel-icon{
       width: 60px;
       height: 60px;
       display: flex;
       justify-content:center;
       align-items: center;
       border-radius: 20px;
       background-color: var(--babyblue);
       margin-right:14px;
 }

 .channel-icon :hover{
    animation: selectcatAni 0.5s forwards;
    border-radius: 10px;

 }
   .channel-icon i{
       font-size: 28px;
        color:white;

    }





/*---splash screen--*/
.splash__screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--babyblue);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    color:white;
    z-index:4;
    animation: 0.3s hideSplashscreen forwards;
    animation-delay: 2.8s;
}
.splash__screen>i {
    font-size: 120px;
    animation: blurInAni 2s forwards 1s;
}

.splash__screen span{
    margin-top: 10px;
    font-size: 24px;
    animation: blurAni 1s forwards;
}

@keyframes blurInAni  {
    from{
        filter: none;
    }
    to{
        filter: drop-shadow( 0px -20px 40px white);
    }
}

@keyframes blurAni {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0.2;
    }
    100%{
        filter: drop-shadow( 0px 0px 5px white);
        opacity: 1;
    }
}


.splash__screen-loading{
    display:flex;
    flex-direction:column;
    width: 40px;
    font-size:20px;
    margin-top: 20px;
    animation:blurInAni 1s forwards 1s;

}

.splash__screen-loading :nth-child(2n+2){
   align-self: flex-end;
}
.splash__screen-loading :first-child{
    animation: stepAni 2.8s ease-in-out ;}

.splash__screen-loading :nth-child(2){
    animation: stepAni 2.6s ease-in-out  ;}
    
 .splash__screen-loading :nth-child(3){
    animation: stepAni 2.4s ease-in-out  ;}
    
.splash__screen-loading :nth-child(4){
    animation: stepAni 2.2s ease-in-out ;}

 .splash__screen-loading :nth-child(5){
    animation: stepAni 1.8s ease-in-out  ;}

 .splash__screen-loading :nth-child(6){
    animation: stepAni 1.4s ease-in-out  ;}

  .splash__screen-loading :nth-child(7){
    animation: stepAni 1s ease-in-out  ;}

 .splash__screen-loading :nth-child(8){
    animation: stepAni 0.6s ease-in-out  ; }

.splash__screen-loading :nth-child(9){
  animation: stepAni 0.3s ease-in-out ;}

@keyframes stepAni {
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
   
}



