.welcon-header {
  margin-top: 90px;
  margin-bottom: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}
.welcome-header__title {
  margin-top:10px;
  margin-bottom: 20px;
  font-size: 28px;
  width: 70%;
  font-weight: bold;
  color: var(--classicblue);
}

.welcome-header__text {
  align-content: center;
  white-space: initial;
  opacity: 0.7;
  line-height: 1.4;
}

/* try to learn #id css bulid*/
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
}

#login-form input {
  padding: 14px 0px;
  border: none;
  font-size: 18px;
  margin-bottom: 10px;
}

#login-form input::placeholder {
  opacity: 0.6;
  padding-left: 5px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.212);
  transition: border-color 0.5s ease-in-out;
}

#login-form input:focus {
  border-color: var(--babyblue);
}

#login-form input[type="submit"] {
  background-color: var(--classicblue);
  margin: 20px 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: var(--babyblue);
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
}

#login-form a {
  align-self: center;
  color: var(--classicblue);
  text-decoration: none;
}
#login-form input[type="submit"]:hover {
  opacity: 0.8;
}

#login-form input[type="submit"]:active {
  background-color: var(--babyblue);
  color: var(--classicblue);
}

.welcome-icon i:hover{
 animation: danceAni 1s ease-in-out infinite;
} 

.welcome-icon i{
color: var(--classicblue);
}

@keyframes danceAni {
  from{
    transform: rotateY(0);
    
  }
  to{
    transform: rotateY(720deg);
    filter:hue-rotate(360deg);;
  }
  
}