#no-mobile {
    position: absolute;
    z-index: 99;
    height: 100vh;
    background-color: var(--babyblue);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 0;
  }
  
  @media screen and (max-width: 600px) and (orientation : portrait){
    #no-mobile {
      display: none;
    }
  }