
.setting__setting {
    padding: 20px 0;
    font-size: 20px;
    display:flex;
    justify-content:space-between;
}

.setting-icon{
    margin:0 20px;
   
}

.setting__setting-column-sub{
   opacity:0.5;
}


.setting__setting:last-child{
   border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}


.setting__setting:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.setting-logout{
    display:flex;
    justify-content: center;
    align-items:center;
}


.setting-logout button{

    display:flex;
    justify-content: center;
    align-items:center;
    padding:10px 60px;
    border-radius: 20px;
    background-color: var(--babyblue);

    margin-top:20px;
    font-size: 20px;
    font-weight:bold;
    color:white;
    border: 4px dashed white ;
}

.setting-logout button:hover{
    animation: logout 1s forwards;
    cursor:pointer;
}

@keyframes logout {
    from{

    }
    to{
        background-color: var(--classicblue);
        color: white;

    }
    
}