.alt-header{
    padding: 40px 16px 20px 16px;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alt-header__title{
    font-size: 30px;
    font-weight: bold;
    
}
.alt-header__column{
    width: 33%;
    align-items:center;
}

.alt-header__column:first-child{
    font-size: 16px;
}

.alt-header__column:nth-child(2){
    display: flex;
    justify-content: center;
}

.alt-header__column:last-child{
    display: flex;
    flex-direction: row-reverse;
}

