.icons__row{
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
   
}

.icons__row__icon{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:rgba(0, 0, 0, 0.7);
    width: 25%;
  

}

.icons__row__icon i {
    font-size: 30px;
    padding: 0px 14px;
}

.icons__row__icon span{
    margin-top:15px;
    align-items: center;
    align-content: center;
}


.icons__row__icon:hover,
.icons__row__icon:active {
    animation: pointAni 0.2s ease-in-out forwards;
    cursor: pointer;
    
  }

  @keyframes pointAni{
      0%{
        

      }
     
      100%{
        color:var(--classicblue);
        font-weight: 600;
     
      }
  }