.reply {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 0;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 6%;
  font-size: 1.5em;
  position: relative;
  margin: 0 2%;
}
.reply .reply__column:nth-child(2) {
  width: 83%;
  position: relative;
}
.reply .reply__column:last-child {
  width: 6%;
  position: relative;
  margin-right: 3%;
}

.reply__column input {
  height: 2rem;
  border: var(--frameline);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.reply__column input:placeholder-shown,
.reply__column input {
  width: 94%;
  font-size: 1.2em;
  padding-left: 12px;
}

.reply__column button {
  background-color: rgb(255, 242, 56);
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  transition: all 0.3s ease-in-out;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 110%;
  transform: translateX(-5%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
