.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 16px 10px 16px;
    margin-bottom: 15px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 10px;
    z-index: 1;
    background-color: white;
}

.screen-header__title{
    font-size: 32px;
    font-weight: bold;
    
}
.screen-header__icon{
    padding: 10px 0px;
    color: var(--classicblue);
}

.screen-header__icon span{
    margin: 10px;
    position: relative;
}


@keyframes spincogAni {
    from{
        transform:none;
    }
    to{
        transform:rotateZ(360deg);
    }
}


.screen-header__icon .fa-cog:hover {
    animation: spincogAni 2s ease-in-out infinite;

}