
.user-component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}
.user-component__column:first-child{
    display: flex;
    align-items: center;
}

.lineup{
    flex-direction: column;
   
}
.lineup .user-component__column{
    margin-bottom: 5px;
}

.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 15px;
}


.user-component__title{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 8px;
}   

.user-component__subtitle{
    font:18px;
    color:rgb(95, 95, 95);
    margin-right:5px;
}


.user-component__avatar--xl{
    width: 80px;
    height: 80px;
}


.user-component__avatar--sm{
    width: 60px;
    height: 60px;    
    border-radius: 20px;
}

.user-component__title-not-bold{
    font-weight: 500;
}


.user-component__time{
    display: block;
    margin-bottom: 10px;
}

.user-component__column:last-child{
    color:rgba(0, 0, 0, 0.5);
    display:flex;
    flex-direction: column;
    align-items:flex-end;
}

.user-componen__name-underbar{
    margin-top: 10px;
    display: flex;
    text-align: center;
}

.user-componen__name-underbar span{
    color: rgba(247, 113, 80, 0.767);
}
.chat-component{
 padding: 5px;
}
.chat-component:hover{
    animation: selectcatAni 0.5s forwards;
    border-radius: 10px;
}

@keyframes selectcatAni {
    from{
        background-color:rgba(0,0,0,0);
        transform: none;
    }
    to{
        background-color:rgba(0,0,0,0.1);
        transform: scale(1.03);
    }
}